header{
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo{
  cursor: pointer;
}

.navbar{
  list-style: none;

}

.navbar li, h1, a{
  display: inline;
  padding: 0px 20px;


}

.mapImg{
  text-align: center;
}